* {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
 color: #464a47;
} 

.navbar {
  opacity: 0.85;
}

.navbar-brand {
  font-family: 'Noto Serif', Helvetica, sans-serif;
  font-size: 25px;
}

/* code taken from https://codepen.io/jasperreyes/pen/doqgdP */

#navBar {
  position: fixed;
  width: 100vw;
  min-height: 55px;
  transition: 0.2s;
  display: flex;
  z-index: 300;
}

.floatingNav {
  width: calc(100vh - 100px); 
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}

/* end code from codepen.io */

.jumbotron {
  padding: 8rem 2rem 4rem 2rem;
}

h1 {
  font-family: 'Noto Serif', Helvetica, sans-serif;
  font-weight: bold;
}

body h1 {
  color: rgb(40, 53, 92);
}

body h4 {
  background-color: white;
  opacity: 0.80;
  border-radius: 5px;
}

/* TIMELINE CSS taken from https://bootsnipp.com/snippets/O5q8E */

.circle {
  padding: 13px 20px;
  border-radius: 50%;
  background-color: rgb(40, 53, 92);
  color: #fff;
  max-height: 50px;
  z-index: 2;
}

.how-it-works.row .col-2 {
  align-self: stretch;
}
.how-it-works.row .col-2::after {
  content: "";
  position: absolute;
  border-left: 3px solid rgb(40, 53, 92);
  z-index: 1;
}
.how-it-works.row .col-2.bottom::after {
  height: 50%;
  left: 50%;
  top: 50%;
}
.how-it-works.row .col-2.full-left::after {
  height: 100%;
  left: 50%;
}

.how-it-works.row .col-2.full::after {
  height: 100%;
  left: calc(50% - 3px);
}

.how-it-works.row .col-2.top::after {
  height: 50%;
  left: 50%;
  top: 0;
}


.timeline div {
  padding: 0;
  height: 40px;
}
.timeline hr {
  border-top: 3px solid rgb(40, 53, 92);
  margin: 0;
  top: 17px;
  position: relative;
}
.timeline .col-2 {
  display: flex;
  overflow: hidden;
}
.timeline .corner {
  border: 3px solid rgb(40, 53, 92);
  width: 100%;
  position: relative;
  border-radius: 15px;
}
.timeline .top-right {
  left: 50%;
  top: -50%;
}
.timeline .left-bottom {
  left: -50%;
  top: calc(50% - 3px);
}
.timeline .top-left {
  left: -50%;
  top: -50%;
}
.timeline .right-bottom {
  left: 50%;
  top: calc(50% - 3px);
}



