* {
  font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

body {
 color: #464a47;
} 

.navbar {
  opacity: 0.85;
}

.navbar-brand {
  font-family: 'Noto Serif', Helvetica, sans-serif;
  font-size: 25px;
}

/* code taken from https://codepen.io/jasperreyes/pen/doqgdP */

#navBar {
  position: fixed;
  width: 100vw;
  min-height: 55px;
  transition: 0.2s;
  display: flex;
  z-index: 300;
}

.floatingNav {
  width: calc(100vh - 100px); 
  border-radius: 2px;
  box-shadow: 0px 1px 10px #999;
}

/* end code from codepen.io */

h1 {
  font-family: 'Noto Serif', Helvetica, sans-serif;
  font-weight: bold;
}

body h1 {
  color: rgb(40, 53, 92);
}

body h4 {
  background-color: white;
  opacity: 0.80;
  border-radius: 5px;
}