  * {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }

  .navbar {
    margin-bottom: 0;
    border-radius: 0;
  }

  .navbar-brand {
    font-size: 25px;
    font-weight: bold;
  }

  .navbar-light .navbar-brand {
    color: rgb(65, 63, 72);
  }
  
  h1 {
    color: rgb(65, 63, 72);
    font-weight: bold;
  }

  footer {
    padding: 10px;
  }
  
