  * {
    font-family: Georgia, Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    font-weight: 400;
    line-height: 1.6;
  }

  header {
    text-align: center;
  }

  figure {
    display: flex;
    justify-content: space-around;
  }

  #profile-pic {
    height: 354px;
    width: 368px;
    opacity: 0.95;
  }
  
  h1 {
    color: rgb(100, 112, 127);
    font-family: 'Heveltica Neue';
    font-weight: bold;
  }
  
  p {
    font-size: 18px;
    text-align: center;
  }
 
  .description {
    font-size: 22px;
    font-family: 'Heveltica Neue';
    color: white;
  }
  
  .top-half {
    background-color: rgb(162, 178, 189);
    height: 500px;
  }
  
  a {
    text-decoration: none;
  }
